{% extends 'base3.html'%}
{% block content3 %}
{% load static %}
<div class="row">
    <div class="col mt-5 offset-1 bg-primary">
        <h2>Doctor's</h2>
        <h4>Dr. John MBBS,MS,Mumbai</h4>
        <marque class="marq" direction="down">
        <p>
            ffsuysuyq hfgquysqs gsiuqwsgqius siusqwiu uggsqwus
            wiuduwid udqwudg uqwytuqw uywgdwu uywdydb
        </p>
        </marquee>
        <h4>Dr. Shaha Mbbs,Ms,Delhi</h4>
        <p>
            ffsuysuyq hfgquysqs gsiuqwsgqius siusqwiu uggsqwus
            wiuduwid udqwudg uqwytuqw uywgdwu uywdydb
        </p>
        <h4>Dr. Shelar Mbbs,Ms,Nashik</h4>
        <p>
            ffsuysuyq hfgquysqs gsiuqwsgqius siusqwiu uggsqwus
            wiuduwid udqwudg uqwytuqw uywgdwu uywdydb
        </p>
        <h4>Dr. Deff Mbbs,Ms,USA</h4>
        <p>
            ffsuysuyq hfgquysqs gsiuqwsgqius siusqwiu uggsqwus
            wiuduwid udqwudg uqwytuqw uywgdwu uywdydb
        </p>
        <h4>Dr. Shelar Mbbs,Ms,Nashik</h4>
        <p>
            ffsuysuyq hfgquysqs gsiuqwsgqius siusqwiu uggsqwus
            wiuduwid udqwudg uqwytuqw uywgdwu uywdydb
        </p>
    </div>
    <div class="col mt-5 offset-1 bg-primary">
        <h2 class="">Beds And Rooms</h2>
        <h4>AC Rooms</h4>
        <p>
            asfdfsdt tatasas hhyy YWGY ywyw ytdwfddfuydyud
            yeyegeydgyegdgd ygwuewuewueywuey uewuwy uguwiqyge uwdywet ywyegd
        </p>
        <h4>Non-AC Rooms</h4>
        <p>
            asfdfsdt tatasas hhyy YWGY ywyw ytdwfddfuydyud
            yeyegeydgyegdgd ygwuewuewueywuey uewuwy uguwiqyge uwdywet ywyegd
        </p>
        <h4>Single Room</h4>
        <p>
            asfdfsdt tatasas hhyy YWGY ywyw ytdwfddfuydyud
            yeyegeydgyegdgd ygwuewuewueywuey uewuwy uguwiqyge uwdywet ywyegd
        </p>
        <h4>Common Rooms</h4>
        <p>
            asfdfsdt tatasas hhyy YWGY ywyw ytdwfddfuydyud
            yeyegeydgyegdgd ygwuewuewueywuey uewuwy uguwiqyge uwdywet ywyegd
        </p>
    </div>
    <div class="col mt-5 offset-1 bg-primary margin-right-5">
        <h3>Other Caring Staff</h3>
        <h4>M/s. Shaha Nursing,Delhi</h4>
        <p>
            ffsuysuyq hfgquysqs gsiuqwsgqius siusqwiu uggsqwus
            wiuduwid udqwudg uqwytuqw uywgdwu uywdydb
        </p>
        <h4>M/s. Lovely Nursing,Delhi</h4>
        <p>
            ffsuysuyq hfgquysqs gsiuqwsgqius siusqwiu uggsqwus
            wiuduwid udqwudg uqwytuqw uywgdwu uywdydb
        </p>
        <h4>M/s. Lovely Nursing,Delhi</h4>
        <p>
            ffsuysuyq hfgquysqs gsiuqwsgqius siusqwiu uggsqwus
            wiuduwid udqwudg uqwytuqw uywgdwu uywdydb
        </p>
        <h4>M/s. Lovely Nursing,Delhi</h4>
        <p>
            ffsuysuyq hfgquysqs gsiuqwsgqius siusqwiu uggsqwus
            wiuduwid udqwudg uqwytuqw uywgdwu uywdydb
        </p>
        <h4>M/s. Lovely Nursing,Delhi</h4>
        <p>
            ffsuysuyq hfgquysqs gsiuqwsgqius siusqwiu uggsqwus
            wiuduwid udqwudg uqwytuqw uywgdwu uywdydb
        </p>
    </div>
    <div class="col">

    </div>
</div>
    
{% endblock content3 %}