{% extends 'base4.html'%}
{% block content4 %}
{% load static %}
  <div class="row mt-3">
      <div class="col cl">
        <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
        <p>Whhshs yddydtd gdydyd RS-700</p>
      </div>
      <div class="col cl">
        <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
        <p>Whhshs yddydtd gdydyd RS-700</p>
      </div>
      <div class="col cl">
        <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
        <p>Whhshs yddydtd gdydyd RS-700</p>
      </div>
      <div class="col cl">
        <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
        <p>Whhshs yddydtd gdydyd RS-700</p>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col cl">
      <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
      <p>Whhshs yddydtd gdydyd RS-700</p>
    </div>
    <div class="col cl">
      <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
      <p>Whhshs yddydtd gdydyd RS-700</p>
    </div>
    <div class="col cl">
      <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
      <p>Whhshs yddydtd gdydyd RS-700</p>
    </div>
    <div class="col cl">
      <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
      <p>Whhshs yddydtd gdydyd RS-700</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col cl">
      <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
      <p>Whhshs yddydtd gdydyd RS-700</p>
    </div>
    <div class="col cl">
      <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
      <p>Whhshs yddydtd gdydyd RS-700</p>
    </div>
    <div class="col cl">
      <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
      <p>Whhshs yddydtd gdydyd RS-700</p>
    </div>
    <div class="col cl">
      <img src="{% static 'images/logo.png' %}" height="50" class="img-thumbnail" alt="...">
      <p>Whhshs yddydtd gdydyd RS-700</p>
    </div>
</div>
{% endblock content4 %}